body {
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#141e30,#243b55);
    font-family:Arial;
}

.login-box {
    background:white;
    padding:40px;
    border-radius:10px;
    width:300px;
    text-align:center;
}

input {
    width:100%;
    padding:10px;
    margin:10px 0;
}

button {
    width:100%;
    padding:10px;
    background:#007bff;
    color:white;
    border:none;
}
