<!DOCTYPE html>
<html>
<head>
    <title>Secure Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="login-box">
    <h2>🔐 Secure Portal</h2>

    <form method="POST" action="/login">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>

        <!-- Honeypot -->
        <input type="text" name="hidden_field" style="display:none">

        <!-- Time Tracking -->
        <input type="hidden" name="load_time" id="load_time">

        <button type="submit">Login</button>
    </form>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
